* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Open Sans',sans-serif;
color: #404041;
}

main {
  position: relative;
}

header {
  background-color: #404041;
  width: 100%;
  height: 150px;
  text-align: center;
  padding-top: 15px;
}

.header-line {
  width: 118px;
  border-top: 1px solid white;
  display: inline-block;
  padding-bottom: 5px;
}

h1 {
  color: #dd1972;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 70px;
  line-height: 75px;
}
h1 span {
  font-weight: 300;
  color: #dd1972;
}

h3 {
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 5px;
  font-size: 23px;
}

.left-section {
  /* border: 3px solid red; */
  display: inline-block;
  width: 50.6%;
  height: 100%;
  background-color: #f7f7f7;
  margin-right: -5px;
}

.right-section {
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
  background-color: #d0d2d3;
  border-left: 2px solid gray;
  position: absolute;
}

.card {
  margin: 20px 20px;
  /* border: 4px solid darkgreen; */
  background-color: white;
  padding: 10px 10px;
}

button {
  background-color: #6e6e6e;
  color: #ffffff;
  height: 40px;
  font-size: 20px;
  padding: 4px 14px;
  border-radius: 22px;
  font-weight: 700;
  margin-top: 10px;
  border-color: #d0d2d3;
  width: 205px;
}

button[disabled] {
  background-color: #d0d2d3;
}

.reset-game-button {
  margin-left: 10px;
  margin-right: 10px;
}

.range {
  /* border: 2px solid cornflowerblue; */
  width: 40%;
  display: inline-block;
}

.range input{
  width: 245px;
  height: 40px;
  margin-top: 5px;
  font-size: 25px;
  margin-right: 25px;
  outline:none;
}


.range-flex {
  display: flex;
  justify-content: space-between;
}

.button1 {
  margin-left: -10px;
  width: 125px;
  align-self: flex-end;
}

.three-buttons {
  display: flex;
  justify-content: space-between;
}

.guess {
/* border: 2px solid pink; */
width: 30%;
display: inline-block;
}

.guess input {
  height: 40px;
  width: 226px;
}

.name-guess {
  font-size: 22px;
}

.name {
/* border: 2px solid purple; */
width: 65%;
display: inline-block;
padding-top: 10px;
padding-bottom: 30px;
}

.name input{
  height: 40px;
  width: 415px;
}

.error-message {
  height: 30px;
  width: 240px;
  position: absolute;
}

.error-message i{
  color:  #dd1972
}

.error-message p{
  color:  #dd1972
}

.latest {
  /* border: 3px solid darkseagreen; */
  width: 49%;
  display: inline-block;
  text-align: center;
}

.latest-guess {
  width: 48%;
  display: inline-block;
  text-align: center;
}

.number-space {
  height: 100px;
}

#latest-guess-middle {
  border-right: 2px solid gray;
}

h3.score {
  color: #dd1972;
  font-size: 100px;
  font-weight: bold;
  line-height: 100px;
}

label {
  font-size: 20px;
  display: block;
}

p span {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.max-input-border {
  border: 2px solid #dd1972;
}

#range-card {
  padding-bottom: 40px;
  }

#current-range {
  font-size: 20px;
  padding-bottom: 20px;
}

#challenger-card {
  padding: 15px;
}

#latest-guess-margin {
  margin: 0 0 10px 10px;
}

#response1 {
  font-size: 25px;
}

#response2 {
  font-size: 25px;
}

#challenger-1-name {
  font-weight: bold;
}

#challenger-2-name {
  font-weight: bold;
}
