* {
  /* Resets default values */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans',sans-serif;
}

/* LAYOUT SECTIONS */

.header {
  /* Number Guesser header */
  width: 100%;
  height: 150px;
  padding-top: 15px;
  text-align: center;
  background-color: #404041;
}

.left-section {
  /* Left side of page */
  display: inline-block;
  width: 50%;
  height: 100%;
  border-right: 2px solid gray;
  margin-right: -5px;
  color: #404041;
  background-color: #f7f7f7;
}

.right-section {
  /* Right side of page */
  display: inline-block;
  vertical-align: top;
  width: 49%;
  min-height: 100%;
  margin-left: 5px;
  background-color: #d0d2d3;
  color: #6e6e6e;
}

.background {
  background-color: #d0d2d3;
}

.cards {
  /* Container that holds cards */
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.clear-btn-container {
  /* Container that holds "clear all cards" button */
  display: flex;
  justify-content: center;
}

/* HEADER */

.header__title {
  /* Number Guesser title */
  color: #dd1972;
  line-height: 75px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 70px;
}

.header--lightface {
  /* Lighter font for "Guesser" in "Number Guesser" */
  color: #dd1972;
  font-weight: 300;
}

.header__subtitle {
  /* Header subtitle */
  display: inline-block;
  padding: 0 5px;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 23px;
}

.header__line {
  /* Two decorative lines on either side of header title */
  display: inline-block;
  width: 118px;
  border-top: 1px solid white;
  padding-bottom: 5px;
}

/* LEFT-SIDE ELEMENTS */

.card {
  /* Left-side card elements */
  margin: 20px 20px;
  padding: 15px;
  background-color: white;
}

.card__btn {
  /* Default button style */
  height: 40px;
  width: 205px;
  margin-top: 10px;
  padding: 4px 14px;
  border-radius: 22px;
  background-color: #6e6e6e;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  border-color: #d0d2d3;
}

.card__btn:hover {
  /* Hover states for buttons */
  background-color: #dd1792
}

.card__btn[disabled] {
  /* Button when in disabled state */
  background-color: #d0d2d3;
}

.card__input {
  /* All inputs */
  height: 40px;
  width: 100%;
  font-size: 22px;
  outline: none;
}

.card__label {
  /* All input labels */
  display: block;
  font-size: 20px;
}

/* SET RANGE CARD */

.range {
  /* Divs that include range labels and inputs */
  margin-right: 20px;
}

.range--flex {
  /* Containing div for range inputs */
  display: flex;
  justify-content: space-between;
}

.range__btn {
  /* Button in range card */
  align-self: flex-end;
  width: 125px;
  margin-left: 15px;
}

.range--extra-space-bottom {
  /* extra padding bottom for range card only to provide space for error msgs */
  padding-bottom: 40px;
  }

.range__error {
  /* Error message for incorrect range */
  position: absolute;
  height: 30px;
  width: 240px;
  color: #dd1972
}

/* MAKE GUESS CARD */

.guess__btn3 {
  /* Give equal width to the three buttons in a row */
  width: 32%;
}

.guess__three-button-row {
  /* Containing div for row of 3 buttons */
  display: flex;
  justify-content: space-between;
}

.guess--guess-inputs {
  /* Guess inputs */
  display: inline-block;
  width: 35%;
}

.guess--name-inputs {
  /* Width/padding/display for containing divs for name inputs and labels */
  display: inline-block;
  width: 64%;
  padding: 10px 15px 30px 0;
}

.guess--emphasis {
  /* bold and underline the range in the middle-card display */
  font-weight: bold;
  text-decoration: underline;
}

.guess--range-text {
  /* Smaller font size for the range in the middle-card display */
  font-size: 20px;
  padding-bottom: 20px;
}

/* LATEST GUESS CARD */

.latest-guess {
  /* The two guess displays at bottom of left side */
  display: inline-block;
  width: 48%;
  text-align: center;
  margin-top: 10px;
}

.latest-guess p:last-of-type {
  /* Smaller font size for "current guess" */
  font-size: 25px;
}

.latest-guess p {
  font-size: 18px;
}

.latest-guess p:first-of-type {
  /* Bolds challenger names in "latest guess" card */
  font-weight: bold;
}

.latest-guess--number-space {
  /* The height of the blank space where the guesses will appear */
  height: 100px;
}

#latest-guess-middle {
  /* Adds decorative border between the two guess displays */
  border-right: 2px solid gray;
}

.latest-guess--score {
  /* Guess displays in "latest guess" section */
  color: #dd1972;
  font-size: 100px;
  font-weight: bold;
  line-height: 100px;
}

.latest-guess--guess-error1,
.latest-guess--guess-error2 {
  /* Error message for guess out of range */
  position: absolute;
  width: 210px;
  color: #dd1972;
}

/* WINNER CARDS */

.result-card {
  /* Winner card */
  flex: 1 1 auto;
  border: 2px solid #6e6e6e;
  padding: 5px 10px;
  margin: 10px 30px;
  background-color: white;
  text-align: center;
  text-transform: uppercase;
}

.result-card__winner-section h1 {
  /* Big text that displays winner name in middle of winner card */
  color: #6e6e6e;
  font-weight: 300;
  font-size: 2.5em;
  line-height: normal;
}

.result-card__winner-section {
  width: 100%;
  padding: 20px;
  border-bottom: 2px solid #d0d2d3;
  border-top: 2px solid #d0d2d3;
}

#winner-name {
  /* Bold the winner name */
  font-weight: 800;
}

.result-card__row-1 {
  /* First row of winner card */
  justify-content: space-around;
  font-weight: 800
}

.result-card__card-row-item {
  /* Items in bottom of winner card */
  display: inline;
  margin: 5px;
}

.result-card__card-row {
  /* Top and bottom rows of winner card */
  display: flex;
  width: 100%;
}

.result-card__x {
  /* Close button on winner card */
  height: 25px;
  align-self: flex-start;
  color: #6e6e6e;
}

.result-card__card-row-item span {
  /* Bold the dynamic elements in the winner card */
  font-weight: bold;
}

.result-card__last-row {
  /* Last row of winner card */
  justify-content: space-between;
  padding-top: 5px;
}

.result-card__least-guesses {
  /* Least guesses badge */
  padding: 4px 10px 0px 10px;
  border-radius: 20px;
  color: white;
  background-color: #9EDD9D;
  line-height: 25px;
}

.result-card__least-time {
  /*Least time badge */
  padding: 4px 10px 0px 10px;
  border-radius: 20px;
  color: white;
  background-color: #9DB6DD;
  line-height: 25px;
}

.result-card__last-row:nth-child(2) {
  /* Select the "vs." and make smaller and lighter */
  font-weight: 100;
  font-size: 14px;
}

/* Intermediate screen-width media query to prevent button contents from bumping to two lines */

@media screen and (max-width: 1230px) {

  .card__btn {
    font-size: 14.7px;
  }

  .result-card__least-time{
    flex: 1 1 auto;
    padding: 4px 2px 0px 2px;
  }

  .result-card__least-guesses {
    flex: 1 1 auto;
    padding: 4px 2px 0px 2px;
    margin-left: 5px;
  }

  .result-card__card-row {
    margin-left: 5px;
  }

}

/* Media query for small-width screens */

@media screen and (max-width: 1000px) {

  /* LAYOUT */

  .left-section {
    /* Left-section becomes full width */
    display: block;
    top: 0;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 10px;
    background-color: color: #404041;
  }

  .right-section {
    /* Right section moves to below .left-section */
    display: block;
    width: 100%;
  }

  .card {
    /* Left-side card elements */
    padding:20px;
  }

  .card:first-of-type {
    margin-top: 0;
  }

  /* HEADER */

  .header__title {
    /* Decrease title font size for mobile */
    font-size: 45px;
  }

  .header__line {
    /* Decrease header lines for mobile */
    width: 60px;
  }

  .header__subtitle {
    /* Decrease subtitle font size for mobile */
    font-size: 16px;
  }

  /* RANGE CARD */

  .range--flex {
    /* Change flex direction on first card */
    flex-direction: column;
  }

  .range {
    width: 100%;
    margin-bottom: 15px;
  }

  .range__btn {
    align-self: flex-start;
  }

  .guess__three-button-row {
    flex-direction: column;
  }

  .guess__btn3 {
    width: 100%;
  }

  .guess--name-inputs {
    width: 100%;
    padding-bottom: 15px;
    padding-right: 0;
  }

  .guess--guess-inputs {
    width: 100%;
    margin-bottom: 20px;
  }

  .card__btn {
    /* Increase font size on buttons */
    font-size: 20px;
  }

  .latest-guess {
    width: 100%;
    margin-bottom: 20px;
  }

  #latest-guess-middle {
    border-right: none;
    border-bottom: 2px solid lightgray;
    padding-bottom: 10px;
  }

  /* RESULT CARD */

  .result-card__least-time{
    flex: 1 1 auto;
    padding: 4px 2px 0px 2px;
  }

  .result-card__least-guesses {
    flex: 1 1 auto;
    padding: 4px 2px 0px 2px;
    margin-left: 5px;
  }

  .result-card__x {
    margin-left: 5px;
  }

  .result-card__card-row:first-of-type {
    flex-direction: column;
  }

}
